---
import NavBar from "../sections/NavBar.astro";
import Hero from "../sections/Hero.astro";
import Aspects from "../sections/Aspects.astro";
import "../../styles/dorik-nav.css"
---

<NavBar/>
<Hero/>
<div class="dorik-text">
    <p>
        My expertise encompasses a diverse array of skills, spanning various programming languages, quality control, and
        adept application debugging.
        Moreover, I excel in meticulous requirements analysis, proficient system design, and precise technical writing.
        These capabilities enable me to guarantee thorough coverage across all dimensions of software engineering.
    </p>
    <p>
        I am deeply passionate about automation and integration platforms and tools, actively leveraging this interest
        to enhance multiple
        aspects of software engineering and quality control. Continuously exploring innovative methods to boost
        efficiency and effectiveness,
        I remain at the forefront of technological advancements, tirelessly striving to integrate cutting-edge
        approaches into my
        software development processes.
    </p>
</div>
<Aspects/>