---

---

<div class="">
    <div class="container dorik-row-q58u18z4-wrapper    " data-aos="fade-up" data-aos-easing="ease-in-out"
         data-aos-offset="120" data-aos-duration="1000">
        <div class="dorik-row-q58u18z4  flex  ">
            <div class="col-lg-1/3 col-md-3/5 ">
                <div class="column-inner dorik-column-168rmm6h  1/3">
                    <div class="dorik-wrapper dorik-image-6iv9u7hd-wrapper ">
                        <img src="https://cdn.dorik.com/6614f54e1d6c29001123e018/images/photo-1570742779986-d79d434da4bb-29s5v.jpeg"
                             alt="professional experience" loading="lazy" class="dorik-image-6iv9u7hd ">
                    </div>
                    <div class="dorik-text dorik-text-stuuncup ">
                        Diverse industry experience
                    </div>
                    <div class="dorik-wrapper dorik-heading-fqgeppqc-wrapper ">
                        <h3 class="dorik-heading dorik-heading-fqgeppqc ">
                            <span>Background</span>
                        </h3>
                    </div>
                    <div class="dorik-icon-kkh37lba-wrapper  ">
                        <span class="dorik-icon dorik-icon-kkh37lba  "></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1/3 col-md-3/5 ">
                <div class="column-inner dorik-column-gyhxvxe7  1/3">
                    <div class="dorik-wrapper dorik-image-6ni7uhyc-wrapper ">
                        <img src="https://cdn.dorik.com/6614f54e1d6c29001123e018/images/photo-1523800503107-5bc3ba2a6f81-rGtOy.jpeg"
                             alt="code quality" loading="lazy" class="dorik-image-6ni7uhyc ">
                    </div>
                    <div class="dorik-text dorik-text-ny4kzsbj ">
                        Quality focused
                    </div>
                    <div class="dorik-wrapper dorik-heading-1pvey4w0-wrapper ">
                        <h3 class="dorik-heading dorik-heading-1pvey4w0 ">
                            <span>Approach</span>
                        </h3>
                    </div>
                    <div class="dorik-icon-sa1osmh6-wrapper  ">
                  <span class="dorik-icon dorik-icon-sa1osmh6  "><svg aria-hidden="true" focusable="false"
                                                                      data-prefix="far" data-icon="compass"
                                                                      class="svg-inline--fa fa-compass fa-fw icon "
                                                                      role="img" xmlns="http://www.w3.org/2000/svg"
                                                                      viewBox="0 0 512 512" data-testid="icon-test">
                      <path fill="currentColor"
                            d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"></path></svg></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1/3 col-md-3/5 ">
                <div class="column-inner dorik-column-6atfxfs2  1/3">
                    <div class="dorik-wrapper dorik-image-ezu103sl-wrapper ">
                        <img src="https://cdn.dorik.com/6614f54e1d6c29001123e018/images/photo-1475204257634-df83964505c0-ZgHEd.jpeg"
                             alt="client relationship" loading="lazy" class="dorik-image-ezu103sl ">
                    </div>
                    <div class="dorik-text dorik-text-xl70uh7m ">
                        Strong client partnerships
                    </div>
                    <div class="dorik-wrapper dorik-heading-u1jfzcgo-wrapper ">
                        <h3 class="dorik-heading dorik-heading-u1jfzcgo ">
                            <span>Testimonials</span>
                        </h3>
                    </div>
                    <div class="dorik-icon-4wetaa9q-wrapper  ">
                  <span class="dorik-icon dorik-icon-4wetaa9q  "><svg aria-hidden="true" focusable="false"
                                                                      data-prefix="fas" data-icon="bullseye"
                                                                      class="svg-inline--fa fa-bullseye fa-fw icon "
                                                                      role="img" xmlns="http://www.w3.org/2000/svg"
                                                                      viewBox="0 0 512 512" data-testid="icon-test">
                      <path fill="currentColor"
                            d="M448 256A192 192 0 1 0 64 256a192 192 0 1 0 384 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 80a80 80 0 1 0 0-160 80 80 0 1 0 0 160zm0-224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zM224 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"></path></svg></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>