<section class="dorik-section symbol--footer dorik-section-footer">
    <div class="dorik-container-footer  ">
        <div class="dorik-container-footer-download  ">
            <div class="dorik-wrapper dorik-heading-download-wrapper ">
                <h1 class="dorik-heading dorik-heading-download ">
                    <span>Dedicated professional with 25 years of experience.</span>
                </h1>
            </div>
            <form id="cvDownloadForm" class="dorik-subscription-cvDownloadForm ">
                <div class="fields-wrapper">
                    <div class="form-group">
                        <input type="email" name="EMAIL" class="form-control" required="" placeholder="Email Address">
                    </div>
                    <div style="left:-100vw;position:absolute">
                        <label for="confirm_cvDownloadForm"><input type="text" autocomplete="off"
                                                                   id="confirm_cvDownloadForm"
                                                                   name="confirm_cvDownloadForm"
                                                                   placeholder="Enter your confirm_cvDownloadForm"></label>
                    </div>
                    <button type="submit">
                <span class="loader hidden"><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
                                                 style="vertical-align:middle;height:2em">
                    <path fill="#fff"
                          d="M73 50c0-12.7-10.3-23-23-23S27 37.3 27 50m3.9 0c0-10.5 8.5-19.1 19.1-19.1S69.1 39.5 69.1 50">
                      <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s"
                                        from="0 50 50" to="360 50 50" repeatCount="indefinite"></animateTransform>
                    </path></svg></span><span class="button-content"><span>Download resume</span></span>
                    </button>
                </div>
            </form>
        </div>
        <div class="dorik-container-footer-hr  ">
            <div class="dorik-line-footer-wrapper hidden-sm">
                <hr class="dorik-line-footer hidden-sm">
            </div>
        </div>
        <div class="dorik-container-footer-logo  ">
            <div class="dorik-wrapper dorik-image-footer-brand-wrapper ">
                <img src="https://cdn.dorik.com/659cec2c1fed02001165198c/images/logo-9qfVz.png" alt="" loading="lazy"
                     class="dorik-image-footer-brand ">
            </div>
        </div>
        <div class="dorik-container-footer-social  ">
            <div class="dorik-wrapper dorik-heading-footer-social-wrapper ">
                <h5 class="dorik-heading dorik-heading-footer-social ">
                    <span>Social media</span>
                </h5>
            </div>
            <ul class="dorik-list dorik-links-footer-social ">
                <li class="dorik-list--item">
                    <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                            class="dorik-list--text">Facebook</span></a>
                </li>
                <li class="dorik-list--item">
                    <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                            class="dorik-list--text">Twitter</span></a>
                </li>
                <li class="dorik-list--item">
                    <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                            class="dorik-list--text">LinkedIn</span></a>
                </li>
            </ul>
        </div>
        <div class="dorik-container-footer-contact  ">
            <div class="dorik-wrapper dorik-heading-footer-contact-wrapper ">
                <h5 class="dorik-heading dorik-heading-footer-contact ">
                    <span>Contact info</span>
                </h5>
            </div>
            <ul class="dorik-list dorik-links-footer-email ">
                <li class="dorik-list--item">
                    <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                            class="dorik-list--text">Email</span></a>
                </li>
                <li class="dorik-list--item">
                    <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                            class="dorik-list--text">Phone</span></a>
                </li>
            </ul>
        </div>
        <div class="dorik-container-footer-useful  ">
            <div class="dorik-wrapper dorik-heading-footer-useful-wrapper ">
                <h5 class="dorik-heading dorik-heading-footer-useful ">
                    <span>Useful links</span>
                </h5>
            </div>
            <ul class="dorik-list dorik-links-footer-policy ">
                <li class="dorik-list--item">
                    <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                            class="dorik-list--text">Privacy policy</span></a>
                </li>
                <li class="dorik-list--item">
                    <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                            class="dorik-list--text">Terms of use</span></a>
                </li>
            </ul>
        </div>
        <div class="dorik-container-footer-hr  ">
            <div class="dorik-line-footer-wrapper ">
                <hr class="dorik-line-footer ">
            </div>
        </div>
        <div class="dorik-container-footer-sitemap  ">
            <ul class="dorik-list dorik-links-footer-sidebar ">
                <li class="dorik-list--item">
                    <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                            class="dorik-list--text">Sitemap</span></a>
                </li>
            </ul>
        </div>
        <div class="dorik-container-footer-copy  ">
            <div class="dorik-text dorik-text-footer-copy ">
                Copyright 2024 Brady Kelly. All rights reserved.
            </div>
        </div>
    </div>
</section>