<div class="container dorik-row-navbar-wrapper" data-aos="fade-down" data-aos-duration="400" data-aos-delay="200">
    <div class="dorik-row-navbar flex  ">
        <div class="col-lg-1/1 ">
            <div class="column-inner   1/1">
                <div class="dorik-navbar--wrapper dorik-nav-navbar-wrapper  sticky-nav">
                    <div class="dorik-navbar dorik-nav-navbar " id="blog">
                        <div class="dorik-navbar--brand">
                            <a href=""><img
                                    src="https://cdn.cmsfly.com/6534e3e885f4bd0012ee789d/logoipsum-264-jlNQMP.png"
                                    alt="Logo" width="201px"></a>
                        </div>
                        <button aria-label="Navbar Toggle" class="dorik-navbar--toggle"
                                data-target="#dorikNavbarCollapse">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                 class="svg-inline--fa fa-bars fa-fw " role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 448 512">
                                <path fill="currentColor"
                                      d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                            </svg>
                        </button>
                        <div class="dorik-navbar--collapse collapse" id="dorikNavbarCollapse">
                            <div class="dorik-navbar--navs">
                                <ul class="dorik-nav--links normalize">
                                    <li class="">
                                        <a href="/" class="dorik-nav--link home   "><span
                                                class="dorik-nav--link-icon"></span><span
                                                class="dorik-nav--link-text">Home</span></a>
                                    </li>
                                    <li class="">
                                        <a href="/about" class="dorik-nav--link about   "><span
                                                class="dorik-nav--link-icon"></span><span
                                                class="dorik-nav--link-text">About</span></a>
                                    </li>
                                    <li class="">
                                        <a href="/skills" class="dorik-nav--link skills   "><span
                                                class="dorik-nav--link-icon"></span><span
                                                class="dorik-nav--link-text">Skills</span></a>
                                    </li>
                                    <li class="">
                                        <a href="/projects" class="dorik-nav--link projects   "><span
                                                class="dorik-nav--link-icon"></span><span
                                                class="dorik-nav--link-text">Projects</span></a>
                                    </li>
                                    <li class="">
                                        <a href="/services" class="dorik-nav--link testimonials   "><span
                                                class="dorik-nav--link-icon"></span><span
                                                class="dorik-nav--link-text">Services</span></a>
                                    </li>
                                </ul>
                                <ul class="dorik-nav--btns normalize">
                                    <li>
                                        <a href="/" class="dorik-nav--btn  contact "><span
                                                class="dorik-nav--btn-icon"></span><span
                                                class="dorik-nav--btn-text">Contact</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
