---
import BaseHead from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import HtmlHead from "../components/Head.astro";
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="en">
<Head title={SITE_TITLE} description={SITE_DESCRIPTION}/>
<body>
<Header/>
<main>
    <h1>My Portfolio Website</h1>
    <p>
        I am a full stack software engineer and programmer from Johannesburg, South Africa. I use both terms because I
        believe each describes a different aspect of software creation.
    </p>
    <p>
        I am currently recovering from a major surge of interest in purely frontend development, particularly using the
        islands architecture of
        the <a href="https://astro.build">Astro</a> web framework, which allows very neat separation of content and
        presentation concerns.
    </p>
</main>
<Footer/>
</body>
</html>
