---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<title>Brady Kelly, Software Engineer</title>
	</head>
	<body>
		<Header />
		<main>
			<h1>My Personal Website</h1>
			<p>
				I am a full stack software engineer and programmer from Johannesburg, South Africa. I use both terms because I believe they describe different aspects of producing software. 
			</p>
			<p>
				I am currently nursing a major interest in static website development, particularly using the fantastic <a href="https://astro.build">Astro</a> framework, that allows me to very neatly separate content and presentation concerns.
			</p>
		</main>
		<Footer />
	</body>
</html>
