---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const {title, description} = Astro.props;
---

<html lang="en">
<head>
    <BaseHead title={title} description={description}/>
    <title>{title}</title>
</head>

<body>
<Header/>
<main>
    <iframe src="/jsonresume.pdf" width="100%"></iframe>
</main>
<Footer/>
</body>
</html>
