---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const {title, description} = Astro.props;
---

<html lang="en">
<head>
    <BaseHead title={title} description={description}/>
    <title>{title}</title>
</head>

<body>
    <Header/>
    <main>
        <button>Download PDF</button>
        <iframe src="https://registry.jsonresume.org/bradykelly?theme=kendall" width="100%" height="1600px"></iframe>
    </main>
    <Footer/>
</body>
</html>
